* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
    width: 1660px; /* поменять на 100% для адаптации под другой экран */
    font-family: OpenSans, Arial, sans-serif;
}

.header {
  position: relative;
  width: 100%;
  padding-bottom: 126px;
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: grey;
  z-index: 0;
}

.header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 241px;
  margin-top: 30px;
  margin-left: 248px;
}

.menu {
  width: 100%;
}

.menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 39px;
  margin-right: 245px;
}

.menu-item a {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-item a:hover {
  text-decoration: underline;
}

.menu-item:nth-child(n+2) {
  margin-left: 35px;
}

.title {
  width: 43%;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 99px auto 0;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  align-items: flex-start;
}

.main {
  width: 778px;
  margin-top: 64px;
}

.news-text-block {
  margin-left: 29px;
  line-height: 0;
}

.news-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-item:nth-child(n+2) {
  margin-top: 60px;
}

.news-img {
  width: 381px;
  flex-shrink: 0;
}

.news-tags-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 6px;
  margin-left: 1px;
  list-style-type: none;
}

.news-tag {
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 18px;
}

.news-tag:hover {
  text-decoration: underline;
}

.article-name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  text-decoration: none;
  color: #0f0d0e;
  margin-top: 15px;
}

.article-name:hover {
  color: #b59f5b;
}

.date-author {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 38px 0 53px;
}

.date {
  font-size: 12px;
  color: #888888;
}

.author {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  margin-left: 14px;
}

.article-text {
  font-size: 15px;
  line-height: 22px;
  margin-top: 10px;
}

.aside {
  width: 272px;
  margin-top: 59px;
}

.news-aside {
  width: 100%;
  line-height: 0;
}

.aside-block-title {
  position: relative;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-left: 5px;
}

.aside-block-title::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
}
  
.news-aside-container {
  margin-top: 42px;
}

.news-aside-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1px;
  } 

.news-aside-item:nth-child(n+2) {
  margin-top: 22px;
}
  
.news-aside-img {
  width: 70px;
  flex-shrink: 0;
}

.news-aside-textblock {
  margin: 3px 0 0 18px;
}

.aside-article-name {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 9px;
  }

.aside-article-name:hover {
  color: #b59f5b;
}

.search {
  margin-top: 61px;
  margin-left: 1.5px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.search-input{
  position: relative;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  height: 46px;  
  width: 221px;
  background-color: #f4f7f6;
  background-size: 46px 221px;
  padding: 0 17px;
  outline: 1px solid #f4f7f6;
  border: 0;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  width: 48px;
  height: 48px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-color: #b59f5b;
  border: 0px;
  margin-top: -1px;
}

.search-button:hover {
  cursor: pointer;
  background-color: #323232;
}

.search-button:focus {
 outline: 1px solid #323232;
}

.subscribe {
  width: 100%;
  margin-top: 56px;
}

.subscribe-field {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  height: 46px;  
  width: 268px;
  background-color: #f4f7f6;
  background-size: 46px 268px;
  padding: 0 17px;
  box-sizing: border-box;
  outline: 1px solid #f4f7f6;
  border: 0;
  margin-top: 37px;
}

.subscribe-field:focus {
  outline: 1px solid #b59f5b;
}

.subscribe-button {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  height: 48px;  
  width: 270px;
  background-color: #b59f5b;
  background-size: 48px 270px;
  border: 0;
  margin-top: 19px;
}

.subscribe-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.subscribe-button:focus {
 outline: 1px solid #323232;
}

.tags {
  width: 100%;
  margin-top: 56px;
}

.tags-container {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 37px;
}

.tags-item {
  font-size: 12px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 13px;
  border: 3px solid #eeeeee;
  line-height: 30px;
}

.tags-item:hover {
  border: 3px solid #b59f5b;
}

.topics {
  width: 100%;
  margin-top: 56px;
}

.topics-list {
  list-style-type: none;
  line-height: 42px;
  margin-left: 1px;
  margin-top: 20px;
}

.topics-item {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.topics-item:hover {
  color: #b59f5b;
}

.topics-item::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 272px;
  height: 1px;
  bottom: -14px;
  background-color: #eeeeee;
}

.topics-sup {
  color: #b59f5b;
}

.footer {
  width: 1170px;
  margin: 66px auto 0;
}

.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  background-color: #f4f7f6;
  width: 1170px;
  padding: 31px 0 32px;
  list-style-type: none;
}

.footer-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.icon-dribble {
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
  background-size: 100% 100%;
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
  background-size: 100% 100%;
}

.copyright {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #999999;
  margin-top: 70px;
  margin-left: 13px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
} 