* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100%; 
    font-family: OpenSans, Arial, sans-serif;
}

.header {
    position: relative;
    width: 100%;
    padding-bottom: 211px;
    background-image: url("../images/banner-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: grey;
    z-index: 0;
}

.header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.top-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.burger {
    margin: 31px 16px 0 0;
    background: none;
    border: none;
} 

.logo {
    width: 269px;
    margin: 171px auto 0;
}

.menu {
    width: 100%;
    display: none;
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 39px;
    margin-right: 245px;
}

.menu-item a {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item a:hover {
    text-decoration: underline;
}

.menu-item:nth-child(n+2) {
    margin-left: 35px;
}

.title {
    width: 280px;
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 29px auto 0;
}

.trends {
    margin-top: 39px; 
    width: 100%;
}

.trends-container {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    gap: 2px;
}

.trends-item {
    position: relative;
    background-color: grey;
    width: 100%;
    height: 232px;
    left: 0;
    top: 0;
    z-index: 0; 
}

.trends-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.trends-img {
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.trends-text {
    position:absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    margin: 0 16px;
    padding: 26px 20px 26px;
    box-sizing: border-box;
    z-index: 2;
    border: 3px solid #938658;
}

.trends-article-name {
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    margin-top: 9px;
    width: 275px;
}

.trends-article-name:hover {
    color: #b59f5b;
}

.news-main-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.news-main {
    margin: 0 auto;
}

.news-text-block {
    margin-top: 9px;
}

.news-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 330px;
    margin: 58px auto 0;
}

.news-item:first-child {
    margin: 44px auto 0;
}

.news-item::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
}

.news-img {
  width: 100%;
  flex-shrink: 0;
}


.news-tags-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
}

.news-tag {
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 18px;
}

.news-tag:hover {
  text-decoration: underline;
}

.article-name {
  display: block;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  text-decoration: none;
  color: #0f0d0e;
  margin-top: 6px;
}

.article-name:hover {
  color: #b59f5b;
}

.date-author {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 16px 0 0;
}

.date {
  font-size: 12px;
  color: #888888;
}

.author {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  margin-left: 11px;
}

.article-text {
  font-size: 14px;
  line-height: 20px;
  margin-top: 14px;
}

.article-text:nth-of-type(n+2) {
    margin-top: 6px;
}

.aside {
  width: 330px;
  margin: 65px auto 0;
}

.news-aside {
  width: 100%;
  line-height: 0;
}

.aside-block-title {
  position: relative;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #0f0d0e;
  text-transform: uppercase;
}

.aside-block-title::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
}
  
.news-aside-container {
  margin-top: 40px;
}

.news-aside-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1px;
  } 

.news-aside-item:nth-child(n+2) {
  margin-top: 22px;
}
  
.news-aside-img {
  width: 70px;
  flex-shrink: 0;
}

.news-aside-textblock {
  margin: 3px 0 0 18px;
}

.aside-article-name {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 11px;
  }

.aside-article-name:hover {
  color: #b59f5b;
}

.search {
  margin-top: 61px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.search-input{
  position: relative;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  height: 46px;  
  width: 282px;
  background-color: #f4f7f6;
  background-size: 46px 280px;
  padding: 0 17px;
  outline: 1px solid #f4f7f6;
  border: 0;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  width: 48px;
  height: 48px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-color: #b59f5b;
  border: 0px;
  margin-top: -1px;
}

.search-button:hover {
  cursor: pointer;
  background-color: #323232;
}

.search-button:focus {
 outline: 1px solid #323232;
}

.subscribe {
  width: 100%;
  margin-top: 40px;
}

.subscribe-field {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  height: 46px;  
  width: 100%;
  background-color: #f4f7f6;
  background-size: 46px 268px;
  padding: 0 17px;
  box-sizing: border-box;
  outline: 1px solid #f4f7f6;
  border: 0;
  margin-top: 33px;
}

.subscribe-field:focus {
  outline: 1px solid #b59f5b;
}

.subscribe-button {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  height: 48px;  
  width: 100%;
  background-color: #b59f5b;
  background-size: 48px 270px;
  border: 0;
  margin-top: 20px;
}

.subscribe-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.subscribe-button:focus {
 outline: 1px solid #323232;
}

.tags {
  width: 100%;
  margin-top: 40px;
}

.tags-container {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 37px;
}

.tags-item {
  font-size: 12px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 13px;
  border: 3px solid #eeeeee;
  line-height: 30px;
}

.tags-item:hover {
  border: 3px solid #b59f5b;
}

.topics {
  width: 100%;
  margin-top: 38px;
}

.topics-list {
  list-style-type: none;
  line-height: 42px;
  margin-left: 1px;
  margin-top: 20px;
}

.topics-item {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.topics-item:hover {
  color: #b59f5b;
}

.topics-item::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 272px;
  height: 1px;
  bottom: -14px;
  background-color: #eeeeee;
}

.topics-sup {
  color: #b59f5b;
}

.shop {
    width: 330px;
    margin: 44px auto 0;
}

.shop-item {
    margin-top: 26px;
}

.shop-item:first-child {
    margin-top: 40px;
}

.shop-img {
    width: 284px;
    object-fit: cover;
    margin: 0 auto;
}

.shop-textblock {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    border: 2px solid #d3c59d;
    padding: 50px 18px 26px;
    margin-top: -35px;
    z-index: 1;
}

.shop-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

.shop-link {
    text-decoration: none;
    font-family: inherit;
    color: #bba76b;
}

.shop-link:hover {
    text-decoration: underline;
}

.shop-price-button {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.old-price {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}

.new-price {
    font-size: 20px;
    font-weight: 700;
}

.shop-button {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #b59f5b;
    border: 0;
    width: 140px;
    height: 48px;
}

.shop-button:hover {
    background-color: #323232;
}

.footer {
  width: 330px;
  margin: 35px auto 0;
}

.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  background-color: #f4f7f6;
  width: 100%;
  padding: 31px 0 32px;
  list-style-type: none;
}

.footer-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.icon-dribble {
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
  background-size: 100% 100%;
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
  background-size: 100% 100%;
}

.copyright {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #999999;
  margin: 46px auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
} 

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}    

.popup-container:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
}

.popup {
    position: fixed;
    box-sizing: border-box;
    right: auto;
    left: auto;
    top: 0;
    width: 330px;
    background-color: #ffffff;
    padding: 25px 27px 30px 24px;
    margin-top: 55px;
}

.popup-close {
    position: absolute;
    top: -32px;
    right: -70px;
    width: 98px;
    height: 98px;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100%25' height='100%25'%3E%3Cpath fill-rule='evenodd' fill='rgb(255,255,255)' d='M27.254,3.609 L16.763,14.101 L27.245,24.584 L24.252,27.577 L13.769,17.095 L3.308,27.557 L0.314,24.563 L10.776,14.102 L0.305,3.631 L3.298,0.637 L13.769,11.108 L24.261,0.616 L27.254,3.609 Z'/%3E%3C/svg%3E");
}

.popup-title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 35px;
}

.popup-title::before {
    position: absolute;
    content: "";
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    bottom: -13px;
    left: auto;
    transform: translateX(30%);
}

.popup-labels {
    font-size: 13px;
    line-height: 16px;
}

.popup-period-wrapper {
    position: relative;
    display: inline-block;
    width: 100%
}

.popup-period-wrapper::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 9 18'%3E%3Cpath fill-rule='evenodd' fill='%23B59F5B' d='M4.746 0.296L8.807 7.304L0.684 7.304L4.746 0.296ZM4.754 17.297L0.693 10.289L8.815 10.289L4.754 17.297Z'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-30%);
    width: 9px;
    height: 20px;
}

.popup-period {
    font-family: inherit;
    height: 48px;
    width: 100%;
    background-color: #f4f7f6;
    border: 0;
    font-size: 13px;
    margin-top: 7px;
    padding-left: 19px;
    color: #a2a4a3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popup-period:focus {
    outline: 1px solid #b59f5b;
}

.popup-radio {
    margin-top: 30px;
}

.radio-label {
    position: relative;
    display: inline-block;
    margin-left: 32px;
    margin-top: 14px;
    margin-right: 28px;
}

.radio-label::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 31 31'%3E%3Cpath fill-rule='evenodd' stroke-width='1' stroke='%23B59F5B' fill='%23fff' d='M15.271 3.830C21.630 3.830 26.785 8.986 26.785 15.345C26.785 21.704 21.630 26.859 15.271 26.859C8.912 26.859 3.756 21.704 3.756 15.345C3.756 8.986 8.912 3.830 15.271 3.830Z'/%3E%3C/svg%3E");
    position: absolute;
    left: -35px;
    top: 50%;
    width: 33px;
    height: 33px;
    transform: translateY(-50%);
}

.custom-radio:checked + .radio-label::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 31 31'%3E%3Cpath fill-rule='evenodd' stroke-width='1' stroke='%23B59F5B' fill='%23fff' d='M15.271 3.830C21.630 3.830 26.785 8.986 26.785 15.345C26.785 21.704 21.630 26.859 15.271 26.859C8.912 26.859 3.756 21.704 3.756 15.345C3.756 8.986 8.912 3.830 15.271 3.830Z'/%3E%3Ccircle cx='15.347' cy='15.347' r='7.5' fill='%23B59F5B'/%3E%3C/svg%3E");
    position: absolute;
    left: -35px;
    top: 50%;
    width: 33px;
    height: 33px;
    transform: translateY(-50%);  
}

.popup-labels.comments {
    margin-top: 32px;
    display: inline-block;
}

.popup-textarea {
    width: 100%;
    height: 132px;
    resize: none;
    background-color: #f4f7f6;
    box-sizing: border-box;
    border: 0;
    padding: 17px 21px;
    margin-top: 8px;
    font-size: 13px;
    font-family: inherit;
}

.popup-textarea:focus {
    outline: 1px solid #b59f5b;
}

.popup-button {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    margin-top: 22px;
    border: 0;
}

.popup-button:focus {
    outline: 0;
}

.popup-button:hover {
    background-color: #323232;
}

._hidden {
    display: none;
}

@media(max-width: 640px) and (orientation: landscape) {
    .trends-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .trends-item {
        width: calc(50% - 1px);
    }

    .trends-item:nth-child(2n) {
        margin-right: -2px;
    }
}

@media (min-width: 641px) {
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        padding-bottom: 112px;
    }

    .top-panel {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .burger {
        margin: 52px 35px 0 0;
    }

    .logo {
        width: 158px;
        margin: 44px 0 0 36px;
    }

    .title {
        width: 615px;
        font-size: 40px;
        line-height: 55px;
        margin: 85px auto 0;
    }
    
    .trends {
        margin-top: 45px;
    }

    .aside-block-title {
        font-size: 18px;
    }

    .trends-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3px;
        margin-top: 30px;
    }
    
    .trends-item {
        width: calc(50% - 2px);
        height: 246px;
    }

    .trends-item:nth-child(2n) {
        margin-right: -3px;
    }

    .trends-text {
        padding: 30px 20px 26px 32px;
    }

    .trends-article-name {
        font-size: 17px;
        line-height: 22px;
        margin-top: 6px;
    }

    .news-main-aside {
        flex-direction: row;
        justify-content: center;
        gap: 36px;
        max-width: 698px;
        margin: 0 auto;
    }

    .news-main {
        width: 100%;
    }

    .news-item {
        width: 100%;
        margin: 62px auto 0;
    }

    .news-img {
        height: 303px;
        width: 100%;
    }

    .news-item:first-child {
    margin: 50px auto 0;
    }

    .article-name {
        font-size: 17px;
        line-height: 22px;
        margin-top: 10px;
    }

    .date-author {
        margin-top: 29px;
    }

    .article-text {
        margin-top: 27px;
        font-size: 15px;
        line-height: 22px;
    }

    .article-text:nth-of-type(n+2) {
        margin-top: 10px;
    }

    .aside {
        width: 270px;
        margin-top: 48px;
    }

    .aside .aside-block-title {
        font-size: 14px;
    }

    .search-input {
        width: 222px;
    }

    .subscribe {
        margin-top: 58px;
    }

    .tags {
        margin-top: 58px;
    }
    
    .topics {
        margin-top: 58px;
    }

    .shop {
        width: 100%;
        max-width: 698px;
        margin: 60px auto 0;
    }

    .shop-items {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
    }

    .shop-item {
        width: calc(50% - 12px);
        margin-top: 0;
    }

    .shop-item:first-child {
        margin-top: 0;
    }

    .shop-item:nth-child(n+3) {
        margin-top: 30px;
    }

    .shop-textblock {
        min-height: 258px;
        width: 100%;
        box-sizing: border-box;
        padding: 50px 22px 26px;
    }

    .shop-price-button {
        margin-top: 22px;
    }

    .footer {
        width: 698px;
        margin: 30px auto 0;
    } 

    .copyright {
        margin: 45px auto;
    }

    .popup {
        width: 390px;
        padding: 50px 30px;
        margin-top: 235px;
    }

    .popup-close {
        top: -36px;
        right: -71px;
        width: 98px;
        height: 98px;
    }

    .popup-title {
        font-size: 18px;
    }

    .popup-title::before {
        transform: translateX(50%);
    }
}

@media(max-width: 1200px) and (min-width: 641px) and (orientation: landscape) {
    .trends-item {
        width: calc(25% - 3px);
    }

    .trends-item:nth-child(2n) {
        margin-right: 0;
    }

    .trends-item:nth-child(4n) {
        margin-right: -3px;
    }

    .trends-text {
        padding: 10px;
    }
    
    .trends-article-name {
        width: 100%;
    }

    .popup {
        margin-top: 10%;
    }
}

@media (min-width: 1201px) {
    
    .header {
        background-image: url("../images/banner-bg.jpg");
        padding-bottom: 125px;
    }

    .burger {
        display: none;
    }

    .logo {
        width: 179px;
        margin: 28px 0 0 247px;
        flex-shrink: 0;
    }

    .menu {
        display: inline-block;
    }

    .top-panel {
        flex-direction: row;
    }

    .title {
        font-size: 45px;
        line-height: 75px;
        width: 690px;
        margin-top: 100px;
    }

    .aside-block-title {
        font-size: 20px;
    }

    .trends {
        margin-top: 57px;
    }

    .trends-container {
        margin-top: 39px;
        gap: 4px;
    }

    .trends-item {
        width: calc((100% - 12px) / 4);
        height: 318px;
    }

    .trends-item:nth-child(2n) {
        margin-right: 0;
    }

    .trends-text {
        padding: 32px 24px 32px 30px;
        margin: 0 20px;
    }

    .trends-article-name {
        font-size: 20px;
        line-height: 24px;
        width: 100%;
    }

    .news-main-aside {
        gap: 122px;
        margin: 11px auto 0;
        max-width: 1200px;
    }

    .news-main {
        margin-left: 15px;
    }

    .news-item {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 53px;
    }

    .news-img {
        width: 380px;
        height: 294px;
        margin-top: 5px;
    }

    .news-text-block {
        display: inline-block;
        margin-left: 30px;
        margin-top: 0;
    }

    .article-name {
        font-size: 20px;
        line-height: 24px;
    }

    .date-author {
        margin-top: 27px;
    }

    .article-name {
        margin-top: 5px;
    }

    .article-text {
        margin-top: 45px;
    }

    .aside {
        width: 270px;
        margin-right: 15px;
    }

    .news-aside-container {
        margin-top: 43px;
    }

    .shop {
        margin-top: 65px;
        width: 100%;
        max-width: 1200px;
    }

    .shop-items {
        width: 100%;
        justify-content: space-between;
        gap: 0;
        box-sizing: border-box;
        padding: 0 18px 0 15px;
    }

    .shop-item {
        width: calc((100% / 3) - 42px);
    }

    .shop-item:nth-child(n+3) {
        margin-top: 0;
    }

    .shop-title {
        font-size: 20px;
        line-height: 24px;
    }

    .shop-textblock {
        padding: 50px 18px 30px;
        min-height: 267px;
    }

    .footer {
        margin-top: 65px;
        width: 1173px;
    }

    .copyright {
        margin-top: 70px;
    }  

    .popup {
        margin-top: 245px;
        padding: 45px 30px 50px;
    }
    
    .popup-close {
        right: -48px;
        top: -26px;
        width: 65px;
        height: 65px;
        object-fit: contain;
    }

    .popup-title {
        font-size: 20px;
    }

    .radio-label::before {
        left: -25px;
        width: 25px;
        height: 25px;
    }

    .custom-radio:checked + .radio-label::before {
        left: -25px;
        width: 25px;
        height: 25px;
    }

    .radio-label {
        margin-top: 8px;
        margin-left: 25px;
        margin-right: 5px;
    }

    .popup-button {
        margin-top: 20px;
    }
}